html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: #111;
    color: #eee;
    font: caption;
  }

  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
  }

  #game-container {
    width: 100vw;
    height: 100vh;
  }